.cards{
        width: 80%;
        margin-left: 10%;
        margin-bottom: 123px;
        margin-top: 123px;
        border: none;
        text-align: center;

        h1{
            font-family: font(baloo);
            font-size: 24px;
            font-weight: 400;
        }
        p{
            font-family: font(dosis);
            font-size: 16px;
            font-weight: 300;
        }
    }