@function color($color-name){
    @return map-get($colors, $color-name)
};

$colors: (
    wht: #fff,
    bck: #151515,
    tmt: #FF5733
);

footer{
    height: 100%;
    background-color: color(bck);
    color: color(wht);

    h1{
        margin: 0 auto;
        margin-top: 70px;
        margin-bottom: 30px;
        color: color(wht);
        font-family: font(baloo);
        font-size: 18px;
        font-weight: 400;
    }
    nav {
        margin: 0 auto;
        margin-bottom: 80px;
        padding: 0;
        color: color(wht);
        font-family: font(dosis);
        font-size: 17px;

        a {
            margin: 0 auto;
            color: color(wht);
        }
        i{
            margin: 0 auto;
            margin-bottom: 10px;
        
            .fa-instagram:hover{
                color: #FF5733;
                font-size: 25px;
            }
            .fa-facebook-square:hover{
                color: #21618C;
                font-size: 25px;
            }
            .fa-500px:hover{
                color: #F1948A;
                font-size: 25px;
            }    
            .fa-snapchat-square:hover{
                color: #F1C40F;
                font-size: 25px;
            }
        
        }
    }
}    