@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai');


@function img($img-name){
    @return map-get($img, $img-name)
};

@function color($color-name){
    @return map-get($colors, $color-name)
};

@function font($font-name){
    @return map-get($font, $font-name)
};

$font: (
    baloo: 'Baloo Bhai',
    dosis: 'Dosis'
);
$img: (
    header: url(../img/header/bg.jpg),
    menu: url(../img/header/menu.png),
    img1: url(../img/header/imgs2.jpg),
    img2: url(../img/header/img-2.jpg),
    img3: url(../img/header/img-3.jpg),
    img4: url(../img/header/imgs1.jpg),
    img5: url(../img/header/imgs3.jpg)

);
$colors: (
    wht: #fff,
    bck: #151515,
    tmt: #FF5733
);


body {
    margin: 0;
    padding: 0;
    background-color: color(wht);
    position: absolute;   


@import 'header.scss';

@import 'img.scss';

@import 'cards.scss';

@import 'footer.scss';
}