@import 'function.scss';

body {
    margin: 0;
    padding: 0;
    background-color: color(wht);
    position: absolute;   

    @import 'header.scss';

    @import 'img.scss';

    @import 'cards.scss';

    @import 'footer.scss';
}