@import 'function.scss';

body {
    margin: 0;
    padding: 0;
    background-color: color(wht);
    position: absolute;   

    @import 'onepage/header.scss';

    @import 'onepage/img.scss';

    @import 'onepage/cards.scss';

    @import 'onepage/footer.scss';
}